<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <title>Sessions Report</title>
</head>
<body class="bg-green-100">
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <% include("header.ejs") %>
            
            <h2 class="text-xl font-semibold">Sessions Report</h2>
            <table class="mt-4">
                <thead>
                    <tr>
                        <th>Session ID</th>
                        <th>User</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    <% sessionsReport.forEach(session => { %>
                        <tr>
                            <td><%= session.id %></td>
                            <td><%= session.user %></td>
                            <td><%= session.startTime %></td>
                            <td><%= session.endTime %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            
        </div> 
    </div>
</body>
</html>
